.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 60px 1fr;
    gap: 10px;
}
.itens{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.item-1{
    background-color:chartreuse;
    grid-column: 1 / 3;
}

.item-2{
    background-color:orange;
}

.item-3{
    width: 800px;
    background-color: cornflowerblue;
    grid-row-start: 2;
    grid-row-end: 5;
}

.item-4{
    margin-top: 20px;
    background-color: crimson;
    height: 1px;
    grid-column: 2 / 4;
}

.item-5{
    background-color:darkgreen;
    height: 1px;
}

.item-6{
    background-color: orange;
}